---
# ===========================================================================================
# Title   NextCloud
# Created By: PJ Guibord
# Date 01/4/2025
# Revision: n/a
# Version: 1.0
# URL: https://github.com/nextcloud/all-in-one/blob/main/compose.yaml
# ===========================================================================================
# Revision History:
#   - 1.0: Initial Release
#
# Todo:
#   - User pictures sync
# ===========================================================================================

# docker run -p <HostPort:containerport> imagename:tag

# Start containers:: 
#   docker compose up --detach

# OCC CLI:
# Login with www-data NOT root
# php occ ....

# Maintanence Activities:
# docker exec -u www-data nextcloud php /var/www/html/cron.php
# docker exec -u www-data nextcloud php /var/www/html/occ app:disable dashboard
# docker exec -u www-data nextcloud php /var/www/html/occ files:scan --all
# docker exec -u www-data nextcloud php /var/www/html/occ maintenance:repair --include-expensive
# docker exec -u www-data nextcloud php /var/www/html/occ db:add-missing-indices
# docker exec -u www-data nextcloud php /var/www/html/occ upgrade
# docker exec -u www-data nextcloud php /var/www/html/occ preview:generate-all -vvv


services:
  nextcloud-redis:
    container_name: nextcloud-redis
    image: redis:alpine
    restart: unless-stopped
    ports:
      - ${redis_port}:6379
    volumes:
      - ${cache}:/data
    command: redis-server --requirepass ${redis_password}

  nextcloud:
    container_name: nextcloud
    image: ${image}
    restart: unless-stopped
    depends_on:
      - nextcloud-redis
    logging:
      options:
         max-size: 50m
    ports:
     - '${nextcloud_port}:80'
    environment:
      TZ: ${time_zone}
      REDIS_HOST: nextcloud-redis
      REDIS_HOST_PASSWORD: ${redis_password}
      NEXTCLOUD_ADMIN_USER: ${nextcloud_admin_un}
      NEXTCLOUD_ADMIN_PASSWORD: ${nextcloud_admin_pw}
      NEXTCLOUD_TRUSTED_DOMAINS: ${nextcloud_trusted_domain}
      #=====================================
      # Postgres Config
      POSTGRES_HOST: ${nextcloud_db_server}
      POSTGRES_DB: ${nextcloud_db}
      POSTGRES_USER: ${nextcloud_db_un}
      POSTGRES_PASSWORD: ${nextcloud_db_pw}
      # =====================================
      # Email Configuration
      SMTP_HOST: ${smtp_host}
      SMTP_PORT: ${smtp_port}
      SMTP_SECURE: TLS
      MAIL_FROM_ADDRESS: ${smtp_sender_name}
      MAIL_DOMAIN: ${smtp_sender_email}
      SMTP_NAME: ${smtp_un}
      SMTP_PASSWORD: ${smtp_pw}
    volumes:
      # NextCloud Base
      - '${nextcloud_config}:/var/www/html/config/'
      - '${nextcloud_custom_apps_data}:/var/www/html/custom_apps/'
      - '${nextcloud_themes}:/var/www/html/themes/'
      - '${nextcloud_data}:/var/www/html/data/'
      - '${nextcloud_tempdir}:/tmp/nextcloudtemp/'
      # User Files
      - '${user1_spath}:${user1_cpath}'
      - '${user1_spics}:${user1_cpics}'
      - '${user2_spath}:${user2_cpath}'
      - '${user2_spics}:${user2_cpics}'
      - '${user3_spath}:${user3_cpath}'
      - '${user3_spics}:${user3_cpics}'
      - '${user4_spath}:${user4_cpath}'
      - '${user4_spics}:${user4_cpics}'
      - '${user5_spath}:${user5_cpath}'
      - '${user5_spics}:${user5_cpics}'
      # - '${user6_spath}:${user3_cpath}'
      # - '${user6_spics}:${user3_cpics}'
      # - '${user7_spath}:${user3_cpath}'
      # - '${user7_spics}:${user3_cpics}'
      - '${user8_spath}:${user8_cpath}'
      - '${user9_spath}:${user9_cpath}'
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
      interval: 30s
      timeout: 10s
      retries: 3