---
# ===========================================================================================
# Title   Outline Wiki
# Created By: PJ Guibord
# Date 02/6/2026
# Revision: N/A
# Version: 1.0
# LINKS: 
# ===========================================================================================
# Revision History:
#   - 1.0: Initial Release
# ===========================================================================================

# docker run -p <HostPort:containerport> imagename:tag

# Start containers:: 
#   docker compose up --detach

services:
  outline-redis:
    container_name: outline_redis
    image: redis:alpine
    env_file: .env
    restart: unless-stopped
    ports:
      - ${redis_port}:6379
    volumes:
      - ${outline_cache}:/data

  outline:
    container_name: outline_wiki
    image: ${image}
    env_file: .env
    restart: unless-stopped
    depends_on:
      - outline-redis
    ports:
      - '${outline_port}:3000'
    environment:
      PGSSLMODE: disable
      URL: ${outline_url}
      WEB_CONCURRENCY: '2'
      REDIS_URL: 'redis://outline-redis:${redis_port}'
      SECRET_KEY: ${outline_key}
      UTILS_SECRET: ${outline_secret}
      FILE_STORAGE: local
      ENABLE_UPDATES: 'false'
      # Database settings      
      DATABASE_URL: 'postgres://${outline_db_un}:${outline_db_pw}@${outline_db_server}:${outline_db_port}/${outline_db}'
      # Email settings for notifications
      # SMTP_HOST: ${smtp_host}
      # SMTP_PORT: ${smtp_port}
      # SMTP_TLS_CIPHERS: 'SSLv1.2'
      # SMTP_SECURE: false
      # #SMTP_AUTH_STRATEGY: TLS
      # #SMTP_FROM_NAME: ${smtp_sender_name}
      # SMTP_FROM_EMAIL: ${smtp_sender_email}
      # SMTP_USER: ${smtp_un}
      # SMTP_PASSWORD: ${smtp_pw}
    volumes:
      - '${outline_data}:/var/lib/outline/data'