---
# ===========================================================================================
# Title   Pi-hole
# Created By: PJ Guibord
# Date 01/4/2025
# Revision: n/a
# Version: 1.0
# URL: https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
# ===========================================================================================
# Revision History:
#   - 1.0: Initial Release
# ===========================================================================================

# docker run -p <HostPort:containerport> imagename:tag

# Start containers:: 
#   docker compose up --detach


services:
  pihole:
    container_name: ${container_name}
    image: ${image}
    restart: unless-stopped
    env_file:
       - .env
    ports:
      # WebUI
      # - ${pihole_http}:80/tcp
      - ${pihole_https}:443/tcp
      # DNS
      - 53:53/tcp
      - 53:53/udp
    environment:
      TZ: ${time_zone}
      FTLCONF_webserver_api_password: ${pihole_pass}
      FTLCONF_dns_upstreams: ${pihole_upstream_dns}
      FTLCONF_dns_dnssec: true
    volumes:
      - '${pihole_config}/etc-pihole:/etc/pihole'
      - '${pihole_config}/etc-dnsmasq.d:/etc/dnsmasq.d'
    cap_add:
      - SYS_NICE # Grants the CAP_SYS_NICE capability to the container, 
      # allowing it to set process priorities and scheduling policies. 
      # This is necessary for Pi-hole to function properly, as it may need 
      # to adjust its own process priority for optimal performance.