---
# ===========================================================================================
# Title   Joplin Server
# Created By: PJ Guibord
# Date 02/08/2026
# Revision: N/A
# Version: 1.0
# LINKS: 
# ===========================================================================================
# Revision History:
#   - 1.0: Initial Release
# ===========================================================================================

# docker run -p <HostPort:containerport> imagename:tag

# Start containers:: 
#   docker compose up --detach

services:
  joplin:
    container_name: ${container_name}
    image: ${image}
    restart: unless-stopped
    ports:
      - '${joplin_port}:22300'
    environment:
      NTP_SERVER: ${joplin_ntp}
      MAX_TIME_DRIFT: 0
      APP_PORT: 22300
      APP_BASE_URL: ${joplin_url}
      # =====================================
      # Postgres Config
      DB_CLIENT: pg
      POSTGRES_DATABASE: ${joplin_db}
      POSTGRES_USER: ${joplin_db_un}
      POSTGRES_PASSWORD: ${joplin_db_pw}
      POSTGRES_HOST: ${joplin_db_server}
      POSTGRES_PORT: ${joplin_db_port}
      # =====================================
      # Email Config
      MAILER_ENABLED: 1
      MAILER_HOST: ${smtp_host}
      MAILER_PORT: ${smtp_port}
      MAILER_AUTH_USER: ${smtp_un}
      MAILER_AUTH_PASSWORD: ${smtp_pw}
      MAILER_SECURITY: starttls
      MAILER_NOREPLY_NAME: 'Joplin Server'
      MAILER_NOREPLY_EMAIL: ${smtp_un}